@CHARSET "UTF-8";
/* Project: [PJ-0136] ChattyInfty
/* Module : DVM_C_Display
/* ========================================================================= */
/* ==                         ChattyInfty-Online                          == */
/* ==                                                                     == */
/* ==                      株式会社知能情報システム                       == */
/* ========================================================================= */
/* -    ファイル名     ： TB_menuBar.css                                     */
/* -                                                                         */
/* -    概      要     ： メニューバー用スタイルシート                       */
/* -                                                                         */
/* -  開  発  環  境   ： Wiondows 8.1 Pro 64bit, Firefox 35.0.1             */
/* -                                                                         */
/* -  担当 / 最終更新  ： 湯本 直杉 / 2015年02月14日                         */

/* =================== ツールバークラス 命名規則 (暫定) ==================== */
/* TBC_ : Tool Bar Common    : 全クラス共通                                  */
/* MB_  : MenuBar            : メニューバー                                  */
/* MT_  : Main   Toolbar     : メインツールバー（大アイコン表示）            */
/* IT_  : Index  Toolbar     : インデックス操作用ツールバー（小アイコン表示）*/
/* ET_  : Editor Toolbar     : エディタ部用ツールバー（小アイコン表示）      */
/* ST_  : Section Title bar  : セクションタイトルバー（小アイコン表示）      */
/* ※ HTMLタグIDは、上記接頭文字から始めます。                               */
/* ※ CSS classは、cl_ の後、上記接頭文字を続ける形とします。                */
/*========================================================================== */

/* ===================== ツールバークラス 基本方針 ========================= */
/* ・アイコンの disable/enable 状態及び、チェックマークの状態は、            */
/*   当モジュール内では管理しません。                                        */
/* ========================================================================= */

/* ------------- マスターレイヤ */
.cl_MB_MasterLayer {
	/*width         : 100%;*/ /* ★幅指定は不要の模様 */
    height        : 24px;
	border-top    : 1px solid #ffffff;
	border-bottom : 1px solid #ffffff;
}

/* ------------- 前面レイヤ */
.cl_MB_FrontLayer {
	height        : 20px;
}


/* ------------- メニュー項目のサイズ */
.cl_MB_MainMenu_Height {
	height: 18px;
}

.cl_MB_MainItem {
	padding-left : 0.5em;
	padding-right: 0.5em;
	position: relative;
	top     : -1px
}
