@CHARSET "UTF-8";
/* Project: [PJ-0136] ChattyInfty
/* Module : DVM_C_Display
/* ========================================================================= */
/* ==                         ChattyInfty-Online                          == */
/* ==                                                                     == */
/* ==                      株式会社知能情報システム                       == */
/* ========================================================================= */
/* -    ファイル名     ： TB_indexTool.css                                   */
/* -                                                                         */
/* -    概      要     ： インデックス操作用スタイルシート                   */
/* -                                                                         */
/* -  開  発  環  境   ： Wiondows 8.1 Pro 64bit, Firefox 35.0.1             */
/* -                                                                         */
/* -  担当 / 最終更新  ： 湯本 直杉 / 2015年02月24日                         */

/* =================== ツールバークラス 命名規則 (暫定) ==================== */
/* TBC_ : Tool Bar Common    : 全クラス共通                                  */
/* MB_  : MenuBar            : メニューバー                                  */
/* MT_  : Main   Toolbar     : メインツールバー（大アイコン表示）            */
/* MIC_ : Mini Icon Common   : 小アイコン用共通仕様                          */
/* IT_  : Index  Toolbar     : インデックス操作用ツールバー（小アイコン表示）*/
/* ET_  : Editor Toolbar     : エディタ部用ツールバー（小アイコン表示）      */
/* ST_  : Section Title bar  : セクションタイトルバー（小アイコン表示）      */
/* ※ HTMLタグIDは、上記接頭文字から始めます。                               */
/* ※ CSS classは、cl_ の後、上記接頭文字を続ける形とします。                */
/*========================================================================== */

/* ===================== ツールバークラス 基本方針 ========================= */
/* ・アイコンの disable/enable 状態及び、チェックマークの状態は、            */
/*   当モジュール内では管理しません。                                        */
/* ========================================================================= */

/* ------------- セクション一個分を表す div のスタイル */
.cl_IDT_Section {
	height  :  18px;
	/*width   : 500px;*/ /* ★width は外しても何もおきない。何をしているのか？ */
}

/* インデックスペインにおけるエッジ */
span.cl_IDT_IndexRuling {
	font-size: 125%;
	position: relative;
	top: -0.3em;
}

/* インデックスペインのインデックスアイコン */
img.cl_IDT_IndexIcon {
	padding: 1px;
}

div.cl_IDT_IndexStyle {
	//float: left;
	display: inline-block;
	//vertical-align: 100%;
	height: 18px;
}

div#IDT_IndexDepth {
	width: 18px;
}